<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Sudoku</title>
  <link rel="icon" href="favicon.ico" type="image/x-icon" />
  <link rel="apple-touch-icon" href="favicon.png">
  <link rel="stylesheet" href="css/style.css">
</head>

<body>
  <header class="login-header">
    <h1 class="title">Sudoku</h1>
  </header>
  <form class="login">
    <h1 class="login__header">Zaloguj</h1>
    <p class="login__message"></p>
    <input type="text" class="login__login input" placeholder="Login" required>
    <input type="password" class="login__password input" placeholder="Hasło" required>
    <div class="login__buttons-wrapper">
      <button type='submit' class="login__submit button">Zaloguj</button>
      <a class="login__redirect-to-login button">Utwórz konto</a>
    </div>
  </form>
  <script src="login.js" type='module'></script>
</body>

</html>