<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Sudoku</title>
  <link rel="icon" href="favicon.ico" type="image/x-icon" />
  <link rel="apple-touch-icon" href="favicon.png">
  <link rel="stylesheet" href="css/style.css">
</head>

<body>
  <header class="register-header">
    <h1 class="title">Sudoku</h1>
  </header>
  <form class="register">
    <h1 class="register__header">Utwórz konto</h1>
    <p class="register__message"></p>
    <input type="text" class="register__login input" placeholder="Login" required>
    <input type="password" class="register__password1 input" placeholder="Hasło" required>
    <input type="password" class="register__password2 input" placeholder="Powtórz hasło" required>
    <button type='submit' class="register__submit button">Utwórz</button>
  </form>
  <script src="register.js" type='module'></script>
</body>

</html>